<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="OSA" Version="1.0.0.0" Manufacturer="Open Source Automation" UpgradeCode="CFF3383C-751A-43B8-90BF-A250F7BC2863">
    <BootstrapperApplicationRef Id="ManagedBootstrapperApplicationHost">
      <Payload SourceFile="$(var.SolutionDir)\UI\BootstrapperCore.config"/>
      <Payload SourceFile="$(var.SolutionDir)\UI\bin\x86\Debug\OSA.dll"/>
      <Payload SourceFile="$(var.SolutionDir)\Dependencies\GalaSoft.MvvmLight.WPF4.dll"/>
      <Payload SourceFile="$(var.SolutionDir)\Dependencies\Microsoft.Deployment.WindowsInstaller.dll"/>
    </BootstrapperApplicationRef>
       
    <Variable Name="InstallMySql" Persisted="yes" Type="string" Value="true"/>
    <Variable Name="InstallType" Persisted="yes" Type="string" Value="Server"/>
   
    <Chain>
      <PackageGroupRef Id='Netfx4Full' />
      <!--<PackageGroupRef Id='MySQL' />-->      
      <MsiPackage SourceFile="$(var.SolutionDir)\Installer\bin\Release\OSA Installer.msi" Id="OSAInstallerPackageId" Cache="yes" Visible="no"/>
      <!--<PackageGroupRef Id='UWS' />-->
    </Chain>
  </Bundle>

  <Fragment>
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4FullVersion" />
    <util:RegistrySearch Root="HKLM" Key="SOFTWARE\Microsoft\Net Framework Setup\NDP\v4\Full" Value="Version" Variable="Netfx4x64FullVersion" Win64="yes" />
    
    <WixVariable Id="WixMbaPrereqPackageId" Value="Netfx4Full" />
    <WixVariable Id="WixMbaPrereqLicenseUrl" Value="NetfxLicense.rtf" />
    
    <PackageGroup Id="Netfx4Full">
      <ExePackage Id="Netfx4Full" Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes"
                  SourceFile="$(var.SolutionDir)\Dependencies\dotNetFx40_Full_x86_x64.exe"
                  DownloadUrl="http://go.microsoft.com/fwlink/?LinkId=164193"
                  DetectCondition="Netfx4FullVersion AND (NOT VersionNT64 OR Netfx4x64FullVersion)" />
    </PackageGroup>
  </Fragment>
  
</Wix>