[Oo]bj/
[Bb]in/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db
*.pdb
*.exe
*.manifest
*.msi
*.orig
_ReSharper.*
lib/
AddIns/
AddInViews/
AddInSideAdapters/
HostSideAdapters/
OSAE.API.dll
output/

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
DB/0.4.8-0.4.9 - Kirk.sql
Plugins/OSAE.NetworkMonitor/Install - Copy.sql
