[Oo]bj/
[Bb]in/
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db
*.pdb
*.exe
*.manifest
*.msi
_ReSharper.*
lib/
AddIns/
AddInViews/
AddInSideAdapters/
HostSideAdapters/
OSAE.API.dll
