<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="OSARegistry" Language="1033" Version="1.0.0.0">
		<Package Id="6935769f-89d8-43c4-a9c3-190776595ca4" Manufacturer="Open Source Automation" InstallerVersion="200" />
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">
        <Component Id="OSARegKeys" >
          <RegistryKey Root="HKLM"
                       Key="Software\OSAE\DBSETTINGS"
                Action="createAndRemoveOnUninstall" >
            <RegistryValue Type="string" Value="Default Value"/>
            <RegistryValue Type="string" Name="DBCONNECTION" Value="localhost" KeyPath="yes"/>
            <RegistryValue Type="string" Name="DBNAME"  Value="osae"/>
            <RegistryValue Type="string" Name="DBPASSWORD"  Value="osaePass"/>
            <RegistryValue Type="string" Name="DBPORT" Value="3306"/>
            <RegistryValue Type="string" Name="DBUSERNAME" Value="osae"/>
            <RegistryValue Type="string" Name="INSTALLDIR" Value="[INSTALLFOLDER]"/>
          </RegistryKey>
        </Component>
			</Directory>
		</Directory>
	</Module>
</Wix>
