<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="${ProgramData}\OSAE\Logs2\" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyy.MM.dd' OSAE Service.log'" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date{yyyy.MM.dd hh:mm:ss.fff tt}&#9;[%thread]&#9;%-5level&#9;%logger&#9;[%property{NDC}]&#9;%message&#9;%exception%newline" />
    </layout>
  </appender>
  
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
  </root>
</log4net>
