<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Module Id="Core" Language="1033" Version="1.0.0.0">
		<Package Id="bc5cd641-7b98-4f1f-8589-5404ca5342cb" Manufacturer="" InstallerVersion="200" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="MergeRedirectFolder">

				<!-- TODO: Remove the comments around this Component element in order to add resources to this module. -->
				<!-- <Component Id="ModuleComponent" Guid="8c06e6f8-d129-4aa1-bf80-4c98bfaa7f00"> -->
					<!-- TODO: Insert files, registry keys, and other resources here. -->
				<!-- </Component> -->

			</Directory>
		</Directory>
	</Module>
</Wix>
