<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <ComponentGroup Id="Screens" Directory="APPLICATIONFOLDER">
      <!--osa.png-->
      <Component Id="OSA.png">
        <File Id='OSA.png' Name='OSA.png' DiskId='1' Source='..\..\Resources\Images\OSA.png' KeyPath='yes' />
      </Component>
      <!--Screens-->
      <Component Id="OSAE.GUI.exe">
        <File Id='OSAE.GUI.exe' Name='Screens.exe' DiskId='1' Source='..\..\output\OSAE.GUI.exe' KeyPath='yes' />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>