body {
    padding-top: 60px;
}
.sidebar-nav {
    padding: 0 0 0 0;
}
      
.hero-unit {
    padding: 10px 10px 50px 10px;
}
      
.well {
    padding: 20px 10px 20px 20px;
}
      
.accordion-heading {
    background-color: whiteSmoke;
}  
      
.twrap {
    overflow: hidden;
    padding: 0 4px 0 12px
}
textarea {
    width: 98%;
    height: 300px;
}
      
.mGrid {   
    width: 100%;   
    background-color: #fff;   
    margin: 5px 0 10px 0;   
    border: solid 1px #525252;   
    border-collapse:collapse;   
}  
.mGrid td {   
    padding: 2px;   
    border: solid 1px #c1c1c1;   
    color: #717171;   
}  
.mGrid th {   
    padding: 4px 2px;   
    color: #fff;   
    background: #424242 url(../images/grd_head.png) repeat-x top;   
    border-left: solid 1px #525252;   
    font-size: 0.9em;   
}  
.mGrid .alt { background: #fcfcfc url(../images/grd_alt.png) repeat-x top; } 