<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <location path="firstrun.aspx">
        <system.web>
            <authorization>
                <allow users="*"/>
            </authorization>
        </system.web>
    </location>
    <system.web>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
        <authentication mode="Forms">
            <forms name="OSAAuthCookie" loginUrl="default.aspx" timeout="30">
            </forms>
        </authentication>
        <authorization>
            <!--<deny users="?"/> disbaled for Dev-->
            <allow users="*"/>
        </authorization>
        <compilation debug="true" targetFramework="4.5"/>
        <httpRuntime targetFramework="4.5"/>
    </system.web>
</configuration>