<?xml version="1.0" encoding="UTF-8"?>

<?ifndef Version?>
<?define Version = "0.4.3" ?>
<?endif ?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Bundle Name="Open Source Automation - Server" 
          Version="$(var.Version)" 
          Manufacturer="Open Source Automation" 
          UpgradeCode="7c272b37-1d4c-4027-872a-59469f9265dd"
          IconSourceFile="$(var.SolutionDir)Resources\icon.ico"
          HelpUrl="http://www.opensourceautomation.com/"
          SplashScreenSourceFile="$(var.SolutionDir)Resources\OSASplashScreen.png">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense" />

    <WixVariable Id="WixStdbaLicenseRtf" Value="$(var.SolutionDir)Resources\License.rtf" />
    <WixVariable Id="WixStdbaLogo" Value="$(var.SolutionDir)Resources\logoSmall.bmp" />
    <Variable Name="InstallFolder" Type="string" Value="[ProgramFiles6432Folder]OSA" >
    </Variable>

    <Chain>
      <PackageGroupRef Id='Netfx4Full'/>
      <RollbackBoundary Id="Net4FullInstalled" />
      <MsiPackage SourceFile="$(var.SolutionDir)InstallComponents\Screens Installer\bin\x86\Combined\Screens Installer.msi"
                  Id="ScreensPackageId"
                  Cache="yes"
                  Vital="yes"
                  InstallCondition="NOT VersionNT64"
                  Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />

      </MsiPackage>
      <MsiPackage SourceFile="$(var.SolutionDir)InstallComponents\Screens Installer x64\bin\x64\Combined\Screens Installer x64.msi"
                  Id="ScreensPackageIdx64"
                  Cache="yes"
                  Vital="yes"
                  InstallCondition="VersionNT64"
                  Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>

      <MsiPackage SourceFile="$(var.SolutionDir)InstallComponents\Server Installer\bin\x86\Combined\Server Installer.msi"
                  Id="ServerPackageId"
                  Cache="yes"
                  Vital="yes"
                  InstallCondition="NOT VersionNT64"
                  Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />

      </MsiPackage>
      <MsiPackage SourceFile="$(var.SolutionDir)InstallComponents\Server Installer x64\bin\x64\Combined\Server Installer x64.msi"
                  Id="ServerPackageIdx64"
                  Cache="yes"
                  Vital="yes"
                  InstallCondition="VersionNT64"
                  Visible="no">
        <MsiProperty Name="INSTALLFOLDER" Value="[InstallFolder]" />
      </MsiPackage>
      <ExePackage Id="UWS"
                 Cache="yes"
                 Compressed="yes"
                 PerMachine="yes"
                 Permanent="yes"
                 Vital="yes"
                 InstallCommand="/q"
                 SourceFile="$(var.SolutionDir)Dependencies\UltiDev Web Server Setup.exe" />      
    </Chain>
	</Bundle>
</Wix>